.select
    .select__header.js-select-header
        span.select__current.js-select-current 456
    .select__body
        .select__item.js-select-item 123
        .select__item.js-select-item 321
        .select__item.js-select-item 456
