include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(property='og:locale' content='ru_RU')
        meta(property='og:type' content='')
        meta(property='og:site_name' content='')
        meta(property='og:title' content='')
        meta(property='og:image' content='')
        meta(property='og:url' content='')
        meta(property='og:description' content='')
        link(rel='apple-touch-icon' sizes='120x120' href='/static/images/general/favicon/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/static/images/general/favicon/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/static/images/general/favicon/favicon-16x16.png')
        link(rel='manifest' href='/static/images/favicon/general/site.webmanifest')
        link(rel='mask-icon' href='/static/images/favicon/general/safari-pinned-tab.svg' color='#5bbad5')
        link(rel='shortcut icon' href='/static/images/general/favicon/favicon.ico')
        meta(name='msapplication-TileColor' content='#ffffff')
        meta(name='msapplication-config' content='/static/images/general/favicon/browserconfig.xml')
        meta(name='theme-color' content='#ffffff')
        link(rel="preload" href="static/fonts/Gilroy-Bold.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="static/fonts/Gilroy-Regular.woff2" as="font" type="font/woff2" crossorigin)
        link(rel="preload" href="static/fonts/Gilroy-Bold.woff" as="font" type="font/woff" crossorigin)
        link(rel="preload" href="static/fonts/Gilroy-Regular.woff" as="font" type="font/woff" crossorigin)
        link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")
    body(class=pageClass)
        .wrapper
            .site-overlay
                .nav-mobile
                    .nav-mobile__navigation
                    .contacts.contacts--view--nav-mobile
            include ../modules/header/header
            .content
                block content
            include ../modules/footer/footer
            .to-top-btn.js-top-btn
        script(defer src="static/js/jquery-3.3.1.min.js")
        script(defer src="static/js/libs.min.js")
        script(defer src="static/js/main.js")
        script(type='application/ld+json').
            {
                "@context": "https://schema.org",
                "@type": "LocalBusiness",
                "url": "",
                "name": "",
                "email": "",
                "image": "",
                "description": "",
                "telephone" : [
                    "",
                    ""
                    ],
                "address": {
                "@type": "PostalAddress",
                "addressLocality": "",
                "postalCode": "",
                "streetAddress": ""
                },
                "openingHours": "",
                "sameAs" : [
                ""
                ]
            }
        block script
