.pagination {
    margin-top: calc(2rem + 2.5vw);

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        margin: 0 .5rem;
        font-size: rem(18px);
        color: $red;
        text-decoration: underline;
        &.is-active {
            color: $black;
            text-decoration: none;
        }

        &:last-child,
        &:first-child {
            margin: 0 1.5rem;
        }
    }

    &__number {
        font-family: $bold;
        color: inherit;
    }
}