extends template/main

block variables
    - var title = 'Объявления'
    - var pageClass = 'ads-page'

block content
    section.section.ads
        .parallax.parallax--view--ads
            .parallax__ball(data-depth="0.2")
            .parallax__ribbon(data-depth="0.2")
        .bg-img.bg-img--ads--right
        .bg-img.bg-img--ads--left
        .container
            ul.breadcrumbs(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                +breadcrumbs-item('Главная','/')
                +breadcrumbs-item('Объявления')
            .section__title Объявления
            ul.columns
                li.columns__item
                    article.card.card--border--rounded
                        .card__inner.card__inner--gutter--huge
                            .card__date 24.12.2020
                            .card__title.card__title--size--small Требуется тренер в СК "Олимп" в Цхинвали ВАКАНСИЯ тренера по художественной гимнастике!
                            .card__content.text.text--responsive Мы и енной гимнастике. Человека, который понимает, что этот спорт – это его прошлое, настоящее и будущее. Профессионала, который хочет посвятить свое время и силы развитию будущих чемпионок России . Тренера для нового, прекрасно оснащенного спортивного комплекса «Олимп». Мы ждем того, кто хочет возглавить направление по художественной гимнастике.
                li.columns__item
                    article.card.card--border--rounded
                        .card__inner.card__inner--gutter--huge
                            .card__date 24.12.2020
                            .card__title.card__title--size--small Федерация гимнастики Монголии приглашает на работу тренера
                            .card__content.text.text--responsive Сроком на 6 месяцев(с возможностью продления контракта) для работы с юниорками и сеньорками Максимальное количество гимнасток в группе 10-11 человек Авиаперелет, проживание и медстраховка оплачиваются принимающей стороной Знание английского языка не требуется Заработная плата договорная, в зависимости от квалификации и опыта работы тренера Конт.лицо: Надежда, +976 99778765, nadia5211314@gmail.com
                li.columns__item
                    article.card.card--border--rounded
                        .card__inner.card__inner--gutter--huge
                            .card__date 24.12.2020
                            .card__title.card__title--size--small Вакансия тренера в Республике Ингушетия
                            .card__content.text.text--responsive Республика Ингушетия-динамично развивающийся и молодой регион, где художественная гимнастика находится на стадии становления. Федерация художественной гимнастики Республики Ингушетия приглашает на работу профессиональных тренеров по художественной гимнастике. Гарантируем высокую заработную плату от 50 000 до 70 000 рублей. - Оплата квартиры и коммунальных услуг осуществляется за счет работодателя. - 8 часовой рабочий день - Необходим тренер для девочек от 3 до 12 лет без опыта тренировок - Контактный номер для уточнения деталей: 8 988 812 97 46
                li.columns__item
                    article.card.card--border--rounded
                        .card__inner.card__inner--gutter--huge
                            .card__date 24.12.2020
                            .card__title.card__title--size--small Федерация гимнастики Монголии приглашает на работу тренера
                            .card__content.text.text--responsive Сроком на 6 месяцев(с возможностью продления контракта) для работы с юниорками и сеньорками Максимальное количество гимнасток в группе 10-11 человек Авиаперелет, проживание и медстраховка оплачиваются принимающей стороной Знание английского языка не требуется Заработная плата договорная, в зависимости от квалификации и опыта работы тренера Конт.лицо: Надежда, +976 99778765, nadia5211314@gmail.com
                li.columns__item
                    article.card.card--border--rounded
                        .card__inner.card__inner--gutter--huge
                            .card__date 24.12.2020
                            .card__title.card__title--size--small Федерация гимнастики Монголии приглашает на работу тренера
                            .card__content.text.text--responsive Сроком на 6 месяцев(с возможностью продления контракта) для работы с юниорками и сеньорками Максимальное количество гимнасток в группе 10-11 человек Авиаперелет, проживание и медстраховка оплачиваются принимающей стороной Знание английского языка не требуется Заработная плата договорная, в зависимости от квалификации и опыта работы тренера Конт.лицо: Надежда, +976 99778765, nadia5211314@gmail.com
                li.columns__item
                    article.card.card--border--rounded
                        .card__inner.card__inner--gutter--huge
                            .card__date 24.12.2020
                            .card__title.card__title--size--small Требуется тренер в СК "Олимп" в Цхинвали ВАКАНСИЯ тренера по художественной гимнастике!
                            .card__content.text.text--responsive Мы ищем человека, у которого горят глаза, когда речь заходит о художественной гимнастике. Человека, который понимает, что этот спорт – это его прошлое, настоящее и будущее. Профессионала, который хочет посвятить свое время и силы развитию будущих чемпионок России . Тренера для нового, прекрасно оснащенного спортивного комплекса «Олимп». Мы ждем того, кто хочет возглавить направление по художественной гимнастике.