extends template/main

block variables
    - var title = 'Звезды'
    - var pageClass = 'stars-page'

block content
    -
        const stars = [
            {
                itemMod: '',
                imgWebp: './static/images/content/Kabaeva.webp',
                img: './static/images/content/Kabaeva.webp',
                title: 'Алина Кабаева',
                content: '<p>Заслуженный мастер спорта, Победительница XXVIII Олимпийских игр 2004 г. в Афинах. Бронзовый призер XXVII Олимпийских игр 2000 г. в Сиднее. Двукратная абсолютная чемпионка мира (1999 и 2003 гг.). Пятикратная абсолютная чемпионка Европы (1998-2000, 2002, 2004 гг.). Шестикратная абсолютная чемпионка России (1999-2001, 2004, 2006, 2007 гг.). Кавалер Орденов Дружбы и "За заслуги перед Отечеством" IV степени.</p> <br> <p>Заслуженный мастер спорта, Победительница XXVIII Олимпийских игр 2004 г. в Афинах. Бронзовый призер XXVII Олимпийских игр 2000 г. в Сиднее. Двукратная абсолютная чемпионка мира (1999 и 2003 гг.). Пятикратная абсолютная чемпионка Европы (1998-2000, 2002, 2004 гг.). Шестикратная абсолютная чемпионка России (1999-2001, 2004, 2006, 2007 гг.). Кавалер Орденов Дружбы и "За заслуги перед Отечеством" IV степени.</p>'
            },
            {
                itemMod: 'stars__article--reverse',
                imgWebp: './static/images/content/Smirnova.webp',
                img: './static/images/content/Smirnova.webp',
                title: 'Елена Смирнова',
                content: '<p>Заслуженный мастер спорта, Победительница XXVIII Олимпийских игр 2004 г. в Афинах. Бронзовый призер XXVII Олимпийских игр 2000 г. в Сиднее. Двукратная абсолютная чемпионка мира (1999 и 2003 гг.). Пятикратная абсолютная чемпионка Европы (1998-2000, 2002, 2004 гг.). Шестикратная абсолютная чемпионка России (1999-2001, 2004, 2006, 2007 гг.). Кавалер Орденов Дружбы и "За заслуги перед Отечеством" IV степени.</p> <br> <p>Заслуженный мастер спорта, Победительница XXVIII Олимпийских игр 2004 г. в Афинах. Бронзовый призер XXVII Олимпийских игр 2000 г. в Сиднее. Двукратная абсолютная чемпионка мира (1999 и 2003 гг.). Пятикратная абсолютная чемпионка Европы (1998-2000, 2002, 2004 гг.). Шестикратная абсолютная чемпионка России (1999-2001, 2004, 2006, 2007 гг.). Кавалер Орденов Дружбы и "За заслуги перед Отечеством" IV степени.</p>'
            },
            {
                itemMod: '',
                imgWebp: './static/images/content/Kabaeva.webp',
                img: './static/images/content/Kabaeva.webp',
                title: 'Алина Кабаева',
                content: '<p>Заслуженный мастер спорта, Победительница XXVIII Олимпийских игр 2004 г. в Афинах. Бронзовый призер XXVII Олимпийских игр 2000 г. в Сиднее. Двукратная абсолютная чемпионка мира (1999 и 2003 гг.). Пятикратная абсолютная чемпионка Европы (1998-2000, 2002, 2004 гг.). Шестикратная абсолютная чемпионка России (1999-2001, 2004, 2006, 2007 гг.). Кавалер Орденов Дружбы и "За заслуги перед Отечеством" IV степени.</p> <br> <p>Заслуженный мастер спорта, Победительница XXVIII Олимпийских игр 2004 г. в Афинах. Бронзовый призер XXVII Олимпийских игр 2000 г. в Сиднее. Двукратная абсолютная чемпионка мира (1999 и 2003 гг.). Пятикратная абсолютная чемпионка Европы (1998-2000, 2002, 2004 гг.). Шестикратная абсолютная чемпионка России (1999-2001, 2004, 2006, 2007 гг.). Кавалер Орденов Дружбы и "За заслуги перед Отечеством" IV степени.</p>'
            },
            {
                itemMod: 'stars__article--reverse',
                imgWebp: './static/images/content/Smirnova.webp',
                img: './static/images/content/Smirnova.webp',
                title: 'Елена Смирнова',
                content: '<p>Заслуженный мастер спорта, Победительница XXVIII Олимпийских игр 2004 г. в Афинах. Бронзовый призер XXVII Олимпийских игр 2000 г. в Сиднее. Двукратная абсолютная чемпионка мира (1999 и 2003 гг.). Пятикратная абсолютная чемпионка Европы (1998-2000, 2002, 2004 гг.). Шестикратная абсолютная чемпионка России (1999-2001, 2004, 2006, 2007 гг.). Кавалер Орденов Дружбы и "За заслуги перед Отечеством" IV степени.</p> <br> <p>Заслуженный мастер спорта, Победительница XXVIII Олимпийских игр 2004 г. в Афинах. Бронзовый призер XXVII Олимпийских игр 2000 г. в Сиднее. Двукратная абсолютная чемпионка мира (1999 и 2003 гг.). Пятикратная абсолютная чемпионка Европы (1998-2000, 2002, 2004 гг.). Шестикратная абсолютная чемпионка России (1999-2001, 2004, 2006, 2007 гг.). Кавалер Орденов Дружбы и "За заслуги перед Отечеством" IV степени.</p>'
            },
        ]
    section.section.stars
        .bg-img.bg-img--stars--right-top
        .bg-img.bg-img--stars--right-bottom
        .bg-img.bg-img--stars--left-top
        .bg-img.bg-img--stars--left-bottom
        .parallax.parallax--view--stars
            .parallax__ball(data-depth="0.2")
            .parallax__ribbon(data-depth="0.2")
        .container
            ul.breadcrumbs(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem")
                +breadcrumbs-item('Главная','/')
                +breadcrumbs-item('Звезды')
            .section__title Звезды
            ul.stars__list
                each obj in stars
                    li.stars__item
                        article.stars__article(class=obj.itemMod)
                            picture.card.card--border--wide.card--border--rounded.card--size--large.stars__card
                                source(srcset= obj.imgWebp type='image/webp').js-webp-img
                                source(srcset= obj.img type='image/png').js-fallback-img
                                img.card__img.stars__img(src= obj.img alt= obj.title loading="lazy")
                            .stars__inner
                                .stars__title.card__title--has--underline= obj.title
                                .stars__content.text.text--responsive.js-text-spoiler!= obj.content
                                +btn({label: 'Читать дальше', mod: 'size--small stars__btn'})(class="js-text-spoiler-toggle")