// Colors
$white: #ffffff;
$black: #000000;
$btn-gradient: linear-gradient(102.88deg, #D64745 27.66%, #FF605E 71.39%);
$red: #D64745;

// Sizes
$base-font-size: 16px;
$default-line-height: 1.3 !default;
$default-font-smoothing: subpixel-antialiased !default;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content-size: 1170px;

$min-vw: 320px;
$max-vw: 1920px;

// Fonts
$regular: 'Regular', Arial, serif;
$bold: 'Bold', Arial, serif;
//$min_font:;
//$max_font:;