ul.tabs-nav
    li(data-tab-name="tab-1").tabs-nav__item.tabs-nav__item--active.js-tabs-nav Таб 1
    li(data-tab-name="tab-2").tabs-nav__item.js-tabs-nav Таб 2

.tabs-content
    .tabs-content__item.с-tab-1.tabs-content__item--active.js-tabs-content
    p 1
.tabs-content__item.с-tab-2.js-tabs-content
    p 2
